/* Media Styles */

.image-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.image-container img {
    width: 48%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-container img:hover {
    transform: scale(1);
}